<div class="container mt-5">
  <div class="card">
    <div class="card-body">
      <div class="card-tittle">
        <div class="text-center">
          <h1>Administración de Articulos</h1>
        </div>
      </div>
      <div class="card-text mt-4">
        <div class="card">
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Código</th>
                  <th scope="col">Descripción</th>
                  <th scope="col">Precio</th>
                  <th scope="col">Borrar</th>
                  <th scope="col">Seleccionar</th>
                </tr>
              </thead>
              <tbody *ngFor="let item of articulos let i=index">
                <tr>
                  <td>{{item.codigo}}</td>
                  <td>{{item.descripcion}}</td>
                  <td>$ {{item.precio}}</td>
                  <td> <button (click)="borrarArticulo(item.codigo)" class="btn btn-danger">Borrar</button> </td>
                  <td> <button (click)="editarArticulo(item.codigo, item.descripcion, item.precio)"
                      class="btn btn-warning">Editar</button></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-body">
            <div class="container">
              <div class="row">
                <div class="col">
                  <h6>Código</h6>
                </div>
                <div class="col">
                  <h6>Descripción</h6>
                </div>
                <div class="col">
                  <h6>Precio</h6>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <input disabled [(ngModel)]="id" type="text">
                </div>
                <div class="col">
                  <input type="text" class="form-control" name="name" placeholder="Descripción del producto"
                    [(ngModel)]="descripcion">
                </div>
                <div class="col">
                  <input type="text" class="form-control" name="name" placeholder="Precio" [(ngModel)]="precio">
                </div>
              </div>
              <div class="row mt-4 ">
                <div class="col ">
                  <button [disabled]="id || !descripcion || !precio" (click)="agregarArticulo()"
                    class="btn btn-primary btn-block">Agregar</button>
                  |
                  <button [disabled]="!id" class="btn btn-success btn-block"
                    (click)="actualizarArticulo()">Actualizar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
